{% extends 'JDRMainBundle::layout.html.twig' %}

{% block core %}
	<h1>Administration</h1>
	<hr>
	<div class="row">
		<div class="alert alert-success alert-dismissable">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>Bravo !</strong> Bienvenue sur la page d'administration
		</div>
	</div>
{% endblock %}