{% extends 'JDRMainBundle::layout.html.twig' %}

{% block core %}
	<div class="row">
		<h1>This is the main Bundle index page</h1>
		<hr>
		<p>Bienvenue</p>
		<p><a class="btn btn-primary" href="{{ path('admin') }}">Administration</a></p>
		<p><a class="btn btn-success" href="{{ path('login') }}">Connexion</a></p>
	</div>
{% endblock %}
